---
# Only the main Sass file needs front matter (the dashes are enough)
---
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
@charset "utf-8";

$font-family-sans-serif: "Inconsolata", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$font-family-base: $font-family-sans-serif;
$code-blue: #629FFF;

@import "bootstrap";

p {
  text-align: justify;
}

pre {
  background: #222;
  color: #FFF;
  b {
    color: $code-blue;
  }
}

.main-content {
  padding-top: 60px;
  .post {
    margin-bottom: 60px;
  }
}

.footer {
  font-size: 14px;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 35px;
  background-color: #222;
  border-color: #090909;
  display: table;
  padding-top: 5px;
  z-index: 5;
  .container-fluid {
    display: table-cell;
    vertical-align: middle;
    padding-top: 0;
    padding-bottom: 0;
    a {
      color: #efefef;
    }
  }
}

.icon--github {
  svg {
    width: 20px;
  }
}

a.github {
  .username {
    margin: 0 0 0 3px;
  }
}

.post-content {
  h3 {
    font-weight: 700;
  }
}

.posts.table {
  tbody {
    tr {
      td {
        text-align: center;
        border: 0;
        padding: 0;
        div:nth-child(1) {
          a {
            font-size: 16px;  
          }
        }
        .pagination {
          margin: 0;
          a {
            font-size: 14px;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  body {
    font-size: 18px;
    h2 {
      font-size: 38px;
    }
  }

  .posts.table {
    tbody {
      tr {
        td {
          text-align: center;
          border: 0;
          div:nth-child(1) {
            a {
              font-size: 30px;
            }
          }
          .pagination {
            margin: 0;
            a {
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}
